{{define "auth/registration/_form_passkey.html"}}

<script>
  function __oryWebAuthnBufferDecode(value) {
    return Uint8Array.from(
      atob(value.replaceAll("-", "+").replaceAll("_", "/")),
      function (c) {
        return c.charCodeAt(0)
      },
    )
  }

  function __oryWebAuthnBufferEncode(value) {
    return btoa(String.fromCharCode.apply(null, new Uint8Array(value)))
      .replaceAll("+", "-")
      .replaceAll("/", "_")
      .replaceAll("=", "")
  }

  function passkeyRegistration() {
    const dataEl = document.getElementsByName("passkey_create_data")[0]
    const resultEl = document.getElementsByName("passkey_register")[0]

    if (!dataEl || !resultEl) {
      console.debug("__oryPasskeyRegistration: mandatory fields not found")
      return
    }

    const createData = JSON.parse(dataEl.value)

    // Fetch display name from field value
    const displayNameFieldName = createData.displayNameFieldName
    const displayName = dataEl
      .closest("form")
      .querySelector("[name='" + displayNameFieldName + "']").value

    let opts = createData.credentialOptions
    opts.publicKey.user.name = displayName
    opts.publicKey.user.displayName = displayName
    opts.publicKey.user.id = __oryWebAuthnBufferDecode(opts.publicKey.user.id)
    opts.publicKey.challenge = __oryWebAuthnBufferDecode(
      opts.publicKey.challenge,
    )

    if (opts.publicKey.excludeCredentials) {
      opts.publicKey.excludeCredentials = opts.publicKey.excludeCredentials.map(
        function (value) {
          return {
            ...value,
            id: __oryWebAuthnBufferDecode(value.id),
          }
        },
      )
    }

    navigator.credentials
      .create(opts)
      .then(function (credential) {
        resultEl.value = JSON.stringify({
          id: credential.id,
          rawId: __oryWebAuthnBufferEncode(credential.rawId),
          type: credential.type,
          response: {
            attestationObject: __oryWebAuthnBufferEncode(
              credential.response.attestationObject,
            ),
            clientDataJSON: __oryWebAuthnBufferEncode(
              credential.response.clientDataJSON,
            ),
          },
        })

        htmx.trigger("#registration-form", "post_after_passkey_registration")
      })
      .catch((err) => {
        console.error(err)
      }) 
  }

</script>

<form 
  id="registration-form"
  hx-post="/auth/registration/passkey?flow={{.RegistrationFlowID}}"
  hx-swap="outerHTML" 
  hx-target="this"
  hx-trigger="post_after_passkey_registration"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <input
    name="passkey_register"
    type="hidden"
  />

  <input
    name="passkey_create_data"
    type="hidden"
    value="{{.PasskeyCreateData}}"
  />

  <div class="mt-2 mb-4">
    <label class="form-control">
      <div class="label">
        <span class="label-text font-semibold">メールアドレス</span>
      </div>
      <input 
        id="email"
        name="traits.email" 
        placeholder="例) niko-chan@kratos-example.com"
        value="1@local.local"
        {{if .ValidationFieldError.Email}}
        class="input input-bordered input-error"
        {{else}}
        class="input input-bordered"
        {{end}}
      >
      {{if .ValidationFieldError.Email}}
      <div class="text-sm text-red-700 my-2">{{.ValidationFieldError.Email}}</div>
      {{end}}
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">氏名</span>
      </div>
      <div class="grid grid-cols-12">
        <div class="container col-span-6">
          性
          <input 
            id="lastname"
            name="traits.lastname" 
            value="lastname"
            class="input input-bordered"
          />
          <div class="text-red-500 text-xs">{{.ValidationFieldError.Firstname}}</div>
        </div>
        <div class="container col-span-6">
          名 
          <input 
            id="firstname"
            name="traits.firstname" 
            value="firstname"
            class="input input-bordered"
          />
          <div class="text-red-500 text-xs">{{.ValidationFieldError.Lastname}}</div>
        </div>
      </div>
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">ニックネーム</span>
      </div>
      <input 
        id="nickname"
        name="traits.nickname" 
        value="firstname"
        class="input input-bordered"
      />
      <div class="text-red-500 text-xs">{{.ValidationFieldError.Nickname}}</div>
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">生年月日</span>
      </div>
      <input 
        id="birthdate"
        name="traits.birthdate" 
        type="date"
        value="1900/10/11"
        class="input input-bordered"
      />
      <div class="text-red-500 text-xs">{{.ValidationFieldError.Birthdate}}</div>
    </label>
  </div>

  <div class="mx-auto text-center">
    <button type="button" class="btn btn-primary btn-wide" onclick="passkeyRegistration()">登録</button>
  </div>

  {{template "_alert.html" . }}
</form>
{{end}}