{{define "my/profile/_form.html"}}
<form 
  id="profile-form"
  hx-post="/my/profile?flow={{.SettingsFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />
  <div class="mt-2 mb-4">
    <label class="form-control">
      <div class="label">
        <span class="label-text">メールアドレス</span>
      </div>
      <input 
        id="email"
        name="email" 
        type="email"
        required
        value="{{.Email}}"
        class="input input-bordered"
      >
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">氏名</span>
      </div>
      <div class="grid grid-cols-12">
        <div class="container col-span-6">
          <input 
            id="lastname"
            name="lastname" 
            value="{{.Lastname}}"
            class="input input-bordered"
          />
          <div class="text-red-500 text-xs">{{.ValidationFieldError.Lastname}}</div>
        </div>
        <div class="container col-span-6">
          <input 
            id="firstname"
            name="firstname" 
            value="{{.Firstname}}"
            class="input input-bordered"
          />
          <div class="text-red-500 text-xs">{{.ValidationFieldError.Firstname}}</div>
        </div>
      </div>
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">ニックネーム</span>
      </div>
      <input 
        id="nickname"
        name="nickname" 
        value="{{.Nickname}}"
        class="input input-bordered"
      />
      <div class="text-red-500 text-xs">{{.ValidationFieldError.Nickname}}</div>
    </label>

    <label class="form-control">
      <div class="label">
        <span class="label-text">生年月日(必須)</span>
      </div>
      <input 
        id="birthdate"
        name="birthdate" 
        type="date"
        value="{{.Birthdate}}"
        class="input input-bordered"
      />
      <div class="text-red-500 text-xs">{{.ValidationFieldError.Birthdate}}</div>
    </label>
  </div>

  <div class="mx-auto text-center">
    <button class="btn btn-primary btn-wide">保存</button>
  </div>

  {{ template "_alert.html"}}
</form>
{{end}}