{{define "settings/_password_form.html"}}
<form 
  id="settings-form"
  hx-post="/settings/password_form?flow={{.SettingsFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />
  <div>
    <label>Password</label>
    <input 
      id="password"
      type="password" 
      name="password" 
      value="Overwatch2024!@"
      onkeyup="this.setCustomValidity('')"
      hx-on:htmx:validation:validate="
        if(this.value != document.getElementById('password-confirmation').value) {
          this.setCustomValidity('パスワードが一致しません') 
          htmx.find('#settings-form').reportValidity()
        }
      "
    >
  </div>
  <div>
    <label>Password confirmation</label>
    <input 
      id="password-confirmation" 
      type="password" 
      name="password-confirmation" 
      onkeyup="document.getElementById('password').setCustomValidity('')"
      value="Overwatch2024!@"
    >
  </div>
  <button>Change password</button>
  {{ if ne .ErrorMessage "" }}
    <div>{{.ErrorMessage}}</div>
  {{end}}
</form>
{{end}}