{{define "settings/_profile_view.html"}}
<div id="settings-form">
  <div class="mx-auto text-center">
    <button 
      id="settings-view"
      hx-get="/settings/profile_form" 
      hx-swap="outerHTML" 
      hx-target="#settings-form"
      class="btn btn-outline btn-primary"
    >Edit</button>
  </div>

  <div class="mt-2 mb-4">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Nickname</span>
      </div>
      <div>
        {{.Session.Identity.Traits.nickname}}
      </div>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Birthdate</span>
      </div>
      <div>
        {{.Session.Identity.Traits.birthdate}}
      </div>
    </label>
  </div>

  {{ if ne .ErrorMessage "" }}
    <div class="alert alert-error mt-4">{{.ErrorMessage}}</div>
  {{end}}
</div>
{{end}}