{{define "layout/_header_auth.html"}}
<!DOCTYPE html>
<html lant="ja" data-theme="light">
  <head>
    <title>{{.Title}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="htmx-config" content='{"withCredentials":"true"}'>
  </head>
<body>
  <main class="container mx-auto my-auto p-8 shadow-xl w-96">
{{end}}