{{define "verification/_code_form.html"}}
<div class="alert alert-info mt-2">
  <div>
    <div>アカウント検証メールが送信されました。</div>
    <div>メールに記載されている6桁の検証コードを入力してください。 </div>
    <a class="link" href="http://localhost:4436" target="_blank">localhostのメールサーバはこちら</a>
  </div>
</div>
<form 
  id="verification-form" 
  hx-post="/verification/code?flow={{.VerificationFlowID}}"
  hx-swap="outerHTML" 
  hx-target="this"
  > 
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <div class="mt-2 mb-4">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Verification code</span>
      </div>
      <input 
        name="code" 
        required 
        min="6" 
        max="6" 
        class="input input-bordered w-full max-w-xs"
      >
    </label>
  </div>

  <div class="mx-auto text-center">
    <button class="btn btn-outline btn-primary">Verification</button>
  </div>
  
  <div class="mt-4">
    <a class="link" href="/verification">Restart verification flow</a>
  </div>

  {{ template "_alert.html" }}
</form>
{{end}}