{{define "verification/_email_form.html"}}
<form 
  id="verification-form"
  hx-post="/verification/email?flow={{.VerificationFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <div class="mt-2 mb-4">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Email Address</span>
      </div>
      <input 
        id="email"
        name="email" 
        type="email"
        required
        value="yoshinori.satoh.tokyo@gmail.com"
        class="input input-bordered w-full max-w-xs"
      >
    </label>
  </div>

  <div class="mx-auto text-center">
    <button class="btn btn-outline btn-primary">Verification</button>
  </div>

  {{ template "_alert.html"}}
</form> 
{{end}}