{{define "verification/_form.html"}}
<form 
  id="verification-form" 
  hx-post="/verification/form?flow={{.VerificationFlowID}}"
  hx-swap="outerHTML" 
  hx-target="this"
  > 
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <div class="mt-2 mb-4">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Verification code</span>
      </div>
      <input 
        name="code" 
        required 
        min="6" 
        max="6" 
        class="input input-bordered w-full max-w-xs"
      >
    </label>
  </div>

  <div class="mx-auto text-center">
    <button class="btn btn-outline btn-primary">Verification</button>
  </div>
  
  {{ if ne .ErrorMessage "" }}
    <div class="alert alert-error mt-4">{{.ErrorMessage}}</div>
    <a href="/verification">Restart verification flow</a>
  {{end}}
</form>
{{end}}