{{define "item/_purchase.html"}}

<div class="container mx-auto px-24">
  <h2 class="text-lg text-center font-bold">購入の確認</h2>

  <div class="divider mt-1 h-px"></div> 

  <div class="grid grid-cols-12">
    <div class="container col-span-2">
      <img src="{{.Image}}" alt="Burger" />
    </div>
    <div class="container col-span-10 ml-8">
      <div class="mb-2 text-2xl">{{.Name}}</div>
      <div class="mb-2 text-2xl">{{.Price}}</div>
    </div>
  </div> 

  <div class="divider mt-1 h-px"></div> 

  <div class="mb-4 container">
    <div class="mx-auto text-center">
      <button
        class="btn btn-accent relative"
        hx-post="{{.RoutePaths.Item}}/{{.ItemID}}/purchase"
        hx-swap="outerHTML" 
        hx-target="#purchase_complete"
        hx-indicator="#indicator"
        hx-disabled-elt="this">
        購入を確定する
        <img id="indicator" class="htmx-indicator absolute w-full h-full" src="/static/spinning-circles.svg" />
      </button>
    </div>
  </div>
</div>

<dialog id="purchase_complete" class="modal"></dialog>

{{end}}