{{define "auth/recovery/_code_form.html"}}
{{ if eq .ShowRecoveryAnnouncement true }}
<div class="alert alert-info mt-2">
  <div>
    <div>アカウント復旧メールが送信されました。</div>
    <div>メールに記載されている6桁の復旧コードを入力してください。 </div>
    <a class="link" href="http://localhost:4436" target="_blank">localhostのメールサーバはこちら</a>
  </div>
</div>
{{end}}

<form 
  id="recovery-form"
  hx-post="{{ .RoutePaths.AuthRecoveryCode }}?flow={{.RecoveryFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <div class="mt-2 mb-4">
    <label class="form-control">
      <div class="label">
        <span class="label-text">Recovery code</span>
      </div>
      <input 
        id="code"
        name="code" 
        class="input input-bordered"
      >
    </label>
  </div>

  <div class="mx-auto text-center">
    <button class="btn btn-primary btn-wide">送信</button>
  </div>

  {{ template "_alert.html"}}
</form> 
{{end}}