{{define "recovery/_email_form.html"}}
<form 
  id="recovery-form"
  hx-post="/recovery/email?flow={{.RecoveryFlowID}}" 
  hx-swap="outerHTML" 
  hx-target="this"
>
  <input
    name="csrf_token"
    type="hidden"
    value="{{.CsrfToken}}"
  />

  <div class="mt-2 mb-4">
    <label class="form-control">
      <div class="label">
        <span class="label-text">メールアドレス</span>
      </div>
      <input 
        id="email"
        name="email" 
        type="email"
        required
        value="yoshinori.satoh.tokyo@gmail.com"
        class="input input-bordered"
      >
    </label>
  </div>

  <div class="mx-auto text-center">
    <button class="btn btn-primary btn-wide">送信</button>
  </div>

  {{ template "_alert.html"}}
</form> 
{{end}}