{{define "item/detail.html"}}
{{template "layout/_header.html" .}}

<div id="item-detail" class="container my-4">
  <div class="grid grid-cols-12">
    <div class="container col-span-6">
      <img class="mx-auto" src="{{.Image}}" alt="Burger" />
    </div>
    <div class="container col-span-6 ml-8">
      <div class="mb-2 text-2xl">{{.Name}}</div>
      <div class="mb-2 text-2xl">{{.Price}}円</div>
      <div class="mb-4">
        <button 
          class="btn btn-accent"
          hx-get="/item/{{.ItemID}}/purchase"
          hx-swap="outerHTML" 
          hx-target="#item-detail">購入手続きへ</button>
      </div>
      <div class="mb-4 container">
        <div class="my-4 text-xl text-gray-400">商品の説明</div>
        <div class="text-sm">
          <pre>{{.Description}}</pre>
        </div>
      </div>
    </div>
  </div> 
</div>

{{template "layout/_footer.html" .}}
{{end}}